body {
    background-color:antiquewhite;
}
.currentDay {
    font-size: 20px;
    padding: 24px;
    color: white;
    background: teal;
    /* border-radius: 70%; */
    width: 20%;
    margin-top: 20px;
    font-family:  sans-serif;
}